<header>
  <h1><a href="/">the dotfiles of the Expanding Man</a></h1>
  <nav>
    <a href="/" class="current">/</a>
    <a href="/native/">/native/</a>
    <a href="/web/">/web/</a>
    <a href="/guides/">/guides/</a>
    <a href="/howto/">/howto/</a>
  </nav>
</header>
